body {
    background-image: linear-gradient(to right top, #114b5f, #4d6786, #8882a6, #c29fbe, #f6c0d0);
    color: #f6c0d0;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.columns{
    display: flex;
    background: linear-gradient(25deg,#435875 0%, #4d6786 33%, #4f698a 66%, #647fa6 100%);
    border-radius: 15px;
    margin: 50px 0px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.columns:hover{
    transform: scale(1.015);
}

.left, .right{
    width: 50%;
    padding: 0px 10px;
}

.right{
    padding-top: 20px;
    text-align: center;
}

#titulo{
    background: linear-gradient(25deg,#435875 0%, #4d6786 33%, #4f698a 66%, #647fa6 100%);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    padding: 5px 0px;
}

h1{
    margin: 0;
    padding: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 3em;
}

#pfp{
    margin-top: 20px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

section{
    margin: 20px;
    padding: 0;
}

section h2{
    margin-bottom: 5px;
    font-size: 1.9em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section p{
    margin: 0;
    font-size: 1.55em;
}

footer{
    background-color: #435875;
    padding: 25px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

footer h2{
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 2.5em;
    margin: auto;
}

div.logos_container{
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.logos{
    width: 50px;
    transition: transform 0.3s ease;
    margin: 10px;
}

.logos:hover{
    transform: scale(1.3);
}